<div class="container">
  <h1>Hola este es mi primer proyecto angular</h1>
  <h2>{{ welcome }}</h2>
  <p>{{ tasks.length }}</p>
  <ul>
    <li *ngFor="let task of tasks; index as i">
      {{ i }}  {{ task }}
    </li>
  </ul>

  <hr>

  <h2>{{ 'hola'.repeat(4) }}</h2>
  <p>la suma de 3+3 es {{ 3 + 3 }}</p>

  <p>Hola soy {{ person.name }} y mi edad es {{ person.age }}</p>


  <hr>
  <img [src]="person.avatar" alt="">
  <input type="text" [value]="person.name">
  <button [disabled]="disabled">Click me</button>
  <hr>

  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()"> Double Click me</button>
  <p>(change)</p>
  <input type="number" [value]="person.age" (change)="changeHandler($event)">
  <p>keydown</p>
  <input type="text" [value]="person.name" (keydown)="keydownHandler($event)">
  <p>keydown shfif tlslll</p>
  <input type="text" [value]="person.name" (keydown.shift.t)="clickHandler()">

  <h2>Signals</h2>
  <p>{{ name }}</p>
  <p>{{ nameSingal() }}</p>
  name: <input type="text" [value]="person.age" (change)="changeHandler2($event)">
  <h2>Structuras Signal</h2>
  <p>{{ tasksSingnal().length }}</p>
  <ul>
    <li *ngFor="let task of tasksSingnal(); index as i">{{ i }} {{ task }}</li>
  </ul>

  <h2>Ng if</h2>

  <div *ngIf="1 !== 1">
    My Content
  </div>
  <div *ngIf="nameSingal() === 'Bonnier'">
    es el if de bonnier
  </div>
  <h2>Ng Switch</h2>

  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'Juan'">Yo Soy Juan</p>
    <p *ngSwitchCase="'Martin'">Yo Soy Juan</p>
  </div>
  <h2>Forms</h2>

  <input type="color" [formControl]="colorCtrl">
  <p>Color: {{ colorCtrl.value }}</p>

  <h2>Stilos</h2>

  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"></rect>
    </g>
  </svg>
  <hr>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>

  <hr>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre Invalido</span>
  </p>
  <p>
    <input type="text">
  </p>

</div>
