<div class="container">
  <h1>Hola este es mi primer proyecto angular</h1>
  <h2>{{ welcome }}</h2>
  <p>{{ tasks.length }}</p>
  <ul>
    @for (task of tasks; track task; let i = $index) {
      <li>
        {{ i }}  {{ task }}
      </li>
    }
  </ul>

  <hr>

  <h2>{{ 'hola'.repeat(4) }}</h2>
  <p>la suma de 3+3 es {{ 3 + 3 }}</p>

  <p>Hola soy {{ person.name }} y mi edad es {{ person.age }}</p>


  <hr>
  <img [src]="person.avatar" alt="">
  <input type="text" [value]="person.name">
  <button [disabled]="disabled">Click me</button>
  <hr>

  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()"> Double Click me</button>
  <p>(change)</p>
  <input type="number" [value]="person.age" (change)="changeHandler($event)">
  <p>keydown</p>
  <input type="text" [value]="person.name" (keydown)="keydownHandler($event)">
  <p>keydown shfif tlslll</p>
  <input type="text" [value]="person.name" (keydown.shift.t)="clickHandler()">

  <h2>Signals</h2>
  <p>{{ name }}</p>
  <p>{{ nameSingal() }}</p>
  name: <input type="text" [value]="person.age" (change)="changeHandler2($event)">
  <h2>Structuras Signal</h2>
  <p>{{ tasksSingnal().length }}</p>
  <ul>
    @for (task of tasksSingnal(); track task; let i = $index) {
      <li>{{ i }} {{ task }}</li>
    }
  </ul>

  <h2>Ng if</h2>

  @if (1 !== 1) {
    <div>
      My Content
    </div>
  }
  @if (nameSingal() === 'Bonnier') {
    <div>
      es el if de bonnier
    </div>
  }
  <h2>Ng Switch</h2>

  <div>
    @switch (person.name) {
      @case ('Juan') {
        <p>Yo Soy Juan</p>
      }
      @case ('Martin') {
        <p>Yo Soy Juan</p>
      }
    }
  </div>
  <h2>Forms</h2>

  <input type="color" [formControl]="colorCtrl">
  <p>Color: {{ colorCtrl.value }}</p>

  <h2>Stilos</h2>

  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"></rect>
    </g>
  </svg>
  <hr>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>

  <hr>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre Invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
  <h2>New Sintaxis</h2>

  @if (nameSingal() === 'Bonnier') {
    <p>Soy Bonnier con nueva Sintaxis</p>
  }


  @if (person.name === 'Bonnier' && person.age > 18) {
    <p>Soy Bonnier y mayor de 18</p>
  } @else {
    <div>Soy mayor de 18</div>
  }

  <h2>For new</h2>

  <p>{{ tasks.length }}</p>
  <ul>
    @for (task of tasksSingnal(); track task; let i = $index) {
      <li>
        {{ i }}  {{ task }}
      </li>
    } @empty {
      <li><strong>La lista esta vacia</strong></li>
    }

  </ul>
  <h2>Ng Switch</h2>
  @switch (person.name) {
    @case ('nicolas') {
      <p>Soy Nicolas</p>
    }
    @case ('Julian') {
      <p>Julian</p>
    }
    @default {
      <p>No es nadie</p>
    }
  }
</div>
